{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
  <ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'reservations' %}">Reservations</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" id="logout">Logout</button>
      </form>
    </li>
  </ul>
</nav>
<style>
  #logout {
    color: #EDEFEE;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    font-size: 1.5rem;
    text-align: center;
    padding-inline-start: 0rem;
    margin-bottom: 0px;
  }

  #logout:hover {
    text-decoration: underline;
  }
</style>